#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# Finder metadata
.DS_Store
#==============================================================================#
# Git
#==============================================================================#
# 
.git