<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangeScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05B62F8E1DF02C7900325846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05B62FA21DF02C7A00325846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05B62FAD1DF02C7B00325846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
